#screen {
  width: 100vw;
  height: 56.25vw;
  position: relative;
  overflow: hidden;
}

#forside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* splashbillede */

#splashbillede {
  background-image: url(svger/forside.svg);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

/* lyd fra og til */

#sound_til {
  width: 12%;
  height: 12%;
  position: absolute;
  top: 4%;
  left: 92.33%;
  background-image: url(svger/sound_til.svg);
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  z-index: 2;
}

#sound_fra {
  width: 12%;
  height: 12%;
  position: absolute;
  top: 4.1%;
  left: 91.9%;
  background-image: url(SVG/sound_fra.svg);
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  z-index: 2;
}

/* elementer */

#omgmig_container {
  width: 12%;
  height: 12%;
  position: absolute;
  top: 4.1%;
  left: 91.9%;
  background-image: url(SVG/sound_fra.svg);
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  z-index: 2;
}

#tema02_container {
  width: 12%;
  height: 12%;
  position: absolute;
  top: 4.1%;
  left: 91.9%;
  background-image: url(SVG/tema02.svg);
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  z-index: 2;
}

#tema03_container {
  width: 12%;
  height: 12%;
  position: absolute;
  top: 4.1%;
  left: 91.9%;
  background-image: url(SVG/tema03.svg);
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  z-index: 2;
}

#tema04_container {
  width: 12%;
  height: 12%;
  position: absolute;
  top: 4.1%;
  left: 91.9%;
  background-image: url(SVG/tema04.svg);
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  z-index: 2;
}

#tema05_container {
  width: 12%;
  height: 12%;
  position: absolute;
  top: 4.1%;
  left: 91.9%;
  background-image: url(SVG/tema05.svg);
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  z-index: 2;
}

#stjerne_container {
  width: 10%;
  height: 10%;
  position: absolute;
  left: 19%;
  top: 6%;
  aspect-ratio: 1/1;
  background-image: url(SVG/stjerne.svg);
  background-size: cover;

  animation-name: glow;
  animation-timing-function: linear;
  animation-direction: alternate;
}

#sol_container {
  width: 10%;
  height: 10%;
  position: absolute;
  left: 19%;
  top: 6%;
  aspect-ratio: 1/1;
  background-image: url(SVG/stjerne.svg);
  background-size: cover;

  animation-name: drej;
  animation-timing-function: linear;
  animation-direction: alternate;
}

/* anmation effekter */

/*glow */

.glow {
  animation: glow 1s infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes glow {
  0%,
  100% {
    filter: brightness(100%) drop-shadow(0 0 -1px white);
  }

  50% {
    filter: brightness(110%) drop-shadow(0 0 40px white);
  }
}

/* drej */

.drej {
  animation-name: drej_kf;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes drej_kf {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
