* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #d88e5c;
  overflow-x: hidden;
}

/* animationer */

.drej {
  animation-name: drej_kf;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
  transform-origin: 0%;
  animation: linear infinite;
}

@keyframes drej_kf {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.glow {
  animation: glow_kf;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes glow_kf {
  0%,
  100% {
    filter: brightness(100%) drop-shadow(0 0 -1px white);
  }

  50% {
    filter: brightness(110%) drop-shadow(0 0 40px white);
  }
}

/* header/nav */

.grid_menu {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

header {
  background: #e2ceb5;
  position: sticky;
  top: 0;
}

header ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #e99c64;
}

#lukmenu_knap {
  grid-column: 1/1;
  grid-row: 1/1;
}

#åbenmenu_knap {
  grid-column: 1/1;
  grid-row: 1/1;
}

#logo img {
  height: 100%;
  width: 100%;
}

#logo {
  grid-column: 2/2;
  grid-row: 1/1;
  width: 13rem;
  place-self: center;
}

#katte {
  grid-column: 3/3;
  grid-row: 1/1;
  width: 7rem;
  margin-bottom: 15px;
  padding-right: 10px;
  place-self: center;
}

#katte img {
  width: 100%;
  height: 100%;
}

.sidepanel {
  height: 925px;
  position: fixed;
  z-index: 1;
  top: 30px;
  left: 0;
  background-color: #e2ceb5;
  overflow-x: hidden;
  padding-top: 120px;
  transition: 0.3s;
}

.sidepanel a {
  margin: 0px 0px 50px 30px;
  text-decoration: none;
  color: #000000;
  display: block;
  transition: 0.3s;
  font-family: "Cinzel", serif;
  font-style: bold;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  padding-bottom: 10px;
  padding-right: 40px;
}

.sidepanel a:hover {
  color: #dd6300;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
}

.openbtn {
  cursor: pointer;
  place-self: start start;
  margin: 30px 30px 30px 30px;
  border: none;
  background: transparent;
}

#nav_desktop {
  display: none;
}

/* footer */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background: #e2ceb5;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer h4 {
  font-size: 12px;
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-weight: 300;
}

footer h4:hover {
  color: #dd6300;
}

/* footer  4500*/
@media (min-width: 450px) {
  footer h4 {
    font-size: 10px;
    font-family: "Outfit", sans-serif;
    text-align: center;
    font-weight: 300;
  }
}

/* footer  600*/
@media (min-width: 600px) {
  footer h4 {
    font-size: 14px;
    font-family: "Outfit", sans-serif;
    text-align: center;
    font-weight: 300;
  }
}

/* footer 800 */
@media (min-width: 800px) {
  footer h4 {
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    text-align: center;
    font-weight: 300;
  }
}

/* footer 1000*/
@media (min-width: 1000px) {
  footer h4 {
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    text-align: center;
    font-weight: 300;
  }
}

/* header/nav billeder 600 */
@media (min-width: 600px) {
  #logo {
    grid-column: 2/2;
    grid-row: 1/1;
    width: 18rem;
    place-self: center;
  }

  #logo img {
    height: 100%;
    width: 100%;
  }

  #katte img {
    width: 100%;
    height: 100%;
  }

  #katte {
    grid-column: 3/3;
    grid-row: 1/1;
    width: 10rem;
    padding-right: 30px;
    place-self: center;
  }

  #sol_sprite {
    width: 100%;
    height: 100%;
    background-image: url(SVG/sol.svg);
    background-size: cover;
  }

  #sol_container {
    place-content: end start;
    width: 25%;
    left: -2%;
    top: -3%;
    position: absolute;
    aspect-ratio: 1/1;

    animation-name: drej_kf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }

  #stjerne_container {
    width: 10%;
    position: absolute;
    left: 12%;
    top: 22%;
    aspect-ratio: 1/1;
  }

  #stjerne_sprite {
    width: 100%;
    height: 100%;
    background-image: url(ikoner/stjerne_overskrift.svg);
    background-size: cover;

    animation-name: glow_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
}

/* header/nav billeder 700 */
@media (min-width: 700px) {
  #logo {
    grid-column: 2/2;
    grid-row: 1/1;
    width: 22rem;
    place-self: center;
  }

  #logo img {
    height: 100%;
    width: 100%;
  }

  #katte img {
    width: 100%;
    height: 100%;
  }

  #katte {
    grid-column: 3/3;
    grid-row: 1/1;
    width: 12rem;
    padding-right: 30px;
    place-self: center;
  }

  #sol_sprite {
    width: 100%;
    height: 100%;
    background-image: url(SVG/sol.svg);
    background-size: cover;
  }

  #sol_container {
    place-content: end start;
    width: 25%;
    left: -3%;
    top: -4%;
    position: absolute;
    aspect-ratio: 1/1;

    animation-name: drej_kf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }

  #stjerne_container {
    width: 10%;
    position: absolute;
    left: 10%;
    top: 20%;
    aspect-ratio: 1/1;
  }

  #stjerne_sprite {
    width: 100%;
    height: 100%;
    background-image: url(ikoner/stjerne_overskrift.svg);
    background-size: cover;

    animation-name: glow_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
}

/* header/nav billeder 800 */
@media (min-width: 800px) {
  #logo {
    grid-column: 2/2;
    grid-row: 1/1;
    width: 24rem;
  }

  #logo img {
    height: 100%;
    width: 100%;
  }

  #katte img {
    width: 100%;
    height: 100%;
  }

  #katte {
    grid-column: 3/3;
    grid-row: 1/1;
    width: 13rem;
  }

  #sol_sprite {
    width: 100%;
    height: 100%;
    background-image: url(SVG/sol.svg);
    background-size: cover;
  }

  #sol_container {
    place-content: end start;
    width: 25%;
    left: -2%;
    top: -7%;
    position: absolute;
    aspect-ratio: 1/1;

    animation-name: drej_kf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }

  #stjerne_container {
    width: 10%;
    position: absolute;
    left: 12%;
    top: 18%;
    aspect-ratio: 1/1;
  }

  #stjerne_sprite {
    width: 100%;
    height: 100%;
    background-image: url(ikoner/stjerne_overskrift.svg);
    background-size: cover;

    animation-name: glow_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
}

/* header/nav billeder 900 */
@media (min-width: 900px) {
  #logo {
    grid-column: 2/2;
    grid-row: 1/1;
    width: 26rem;
  }

  #logo img {
    height: 100%;
    width: 100%;
  }

  #katte img {
    width: 100%;
    height: 100%;
  }

  #katte {
    grid-column: 3/3;
    grid-row: 1/1;
    width: 14rem;
  }

  #sol_sprite {
    width: 100%;
    height: 100%;
    background-image: url(SVG/sol.svg);
    background-size: cover;
  }

  #sol_container {
    place-content: end start;
    width: 25%;
    left: 1%;
    top: -8%;
    position: absolute;
    aspect-ratio: 1/1;

    animation-name: drej_kf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }

  #stjerne_container {
    width: 10%;
    position: absolute;
    left: 16%;
    top: 18%;
    aspect-ratio: 1/1;
  }

  #stjerne_sprite {
    width: 100%;
    height: 100%;
    background-image: url(ikoner/stjerne_overskrift.svg);
    background-size: cover;

    animation-name: glow_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
}
/* header/nav billeder 1000 */
@media (min-width: 1000px) {
  #logo {
    grid-column: 2/2;
    grid-row: 1/1;
    width: 28rem;
  }

  #logo img {
    height: 100%;
    width: 100%;
  }

  #katte img {
    width: 100%;
    height: 100%;
  }

  #katte {
    grid-column: 3/3;
    grid-row: 1/1;
    width: 15rem;
  }

  #sol_sprite {
    width: 100%;
    height: 100%;
    background-image: url(SVG/sol.svg);
    background-size: cover;
  }

  #sol_container {
    place-content: end start;
    width: 25%;
    left: -2%;
    top: -8%;
    position: absolute;
    aspect-ratio: 1/1;

    animation-name: drej_kf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }

  #stjerne_container {
    width: 10%;
    position: absolute;
    left: 12%;
    top: 18%;
    aspect-ratio: 1/1;
  }

  #stjerne_sprite {
    width: 100%;
    height: 100%;
    background-image: url(ikoner/stjerne_overskrift.svg);
    background-size: cover;

    animation-name: glow_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
}

/* header/nav menu 600 */
@media (min-width: 600px) {
  .openbtn {
    display: none;
  }

  #nav_desktop {
    display: flex;
    place-content: center;
  }

  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-bottom: 5px;
    gap: 40px;
    overflow-x: auto;
    flex-flow: wrap;
  }

  .grid_menu {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }

  #nav_desktop a {
    color: #000000;
    font-family: "Vujahday Script", cursive;
    text-transform: uppercase;
    font-size: 16px;
  }

  header {
    background: #e2ceb5;
    position: sticky;
    top: 0;
    padding-bottom: 20px;
  }

  #nav_desktop a:hover {
    color: #dd6300;
  }
}

/* header/nav menu 800 */
@media (min-width: 800px) {
  .openbtn {
    display: none;
  }

  #nav_desktop {
    display: flex;
    place-content: center;
  }

  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-bottom: 5px;
    gap: 50px;
    overflow-x: auto;
    flex-flow: wrap;
  }

  .grid_menu {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }

  #nav_desktop a {
    color: #000000;
    font-family: "Vujahday Script", cursive;
    text-transform: uppercase;
    font-size: 20px;
  }

  header {
    background: #e2ceb5;
    position: sticky;
    top: 0;
    padding-bottom: 20px;
  }

  #nav_desktop a:hover {
    color: #dd6300;
  }
}

/* header/nav menu 1000 */
@media (min-width: 1000px) {
  .openbtn {
    display: none;
  }

  #nav_desktop {
    display: flex;
    place-content: center;
  }

  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-bottom: 5px;
    gap: 60px;
    overflow-x: auto;
    flex-flow: wrap;
  }

  .grid_menu {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }

  #nav_desktop a {
    color: #000000;
    font-family: "Vujahday Script", cursive;
    text-transform: uppercase;
    font-size: 24px;
  }

  header {
    background: #e2ceb5;
    position: sticky;
    top: 0;
    padding-bottom: 20px;
  }

  #nav_desktop a:hover {
    color: #dd6300;
  }
}
